/**
 * Styles for overriding shorthand's published css
 *
 * Created 19 Jun 2019
 * Updated 26 Nov 2019
 *
 * Last update: add custom fonts.
 *
 * @author Colin Denholm
 * @author Thomas Haigh
 */

.Theme-Header {
	background: #1f3165;
}

.Theme-TitleSection .Theme-Layer-TextBlock-Inner  .Theme-LeadIn  .Theme-StoryTitle {
	font-family: "Bodoni MT", serif; 
	font-size: 48px; 
	font-style: italic; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 38.4px;
}

.Theme-Layer-BodyText p, .Theme-Story p {
	font-family: 'Source Sans Pro', sans-serif;
}

#footer_shorthand_link {
	display: none;
}
