/**
 * Styles for overriding shorthand's published css
 *
 * Created 19 Jun 2019
 * Updated 26 Nov 2019
 *
 * Last update: add custom fonts.
 *
 * @author Colin Denholm
 * @author Thomas Haigh
 */

.Theme-Header {
	background: #1f3165;
}

.Theme-TitleSection p,
.Theme-Layer-TextBlock-Inner p,  
.Theme-LeadIn p,
.Theme-StoryTitle h1 {
	font-family: 'Bodoni MT', serif; 
}

.Theme-Layer-BodyText p, .Theme-Story p {
	font-family: 'Source Sans Pro', sans-serif;
}

#footer_shorthand_link {
	display: none;
}
