/**
 * Styles for overriding shorthand's published css
 *
 * Created 19 Jun 2019
 * Updated 26 Nov 2019
 *
 * Last update: add custom fonts.
 *
 * @author Colin Denholm
 * @author Thomas Haigh
 */

.Theme-Header {
	background: #1f3165;
}

.Theme-Layer-BodyText p, h1, h2, .Theme-Story p {
	font-family: Bodoni MT;
}

#footer_shorthand_link {
	display: none;
}
