/**
 * Styles for overriding shorthand's published css
 *
 * Created 19 Jun 2019
 
 * Updated 26 Nov 2019
 *
 * Last update: add custom fonts.
 *
 * @author Colin Denholm
 * @author Thomas Haigh
 */

 .Theme-Header {
	background: #1f3165;
}

.Theme-TitleSection .Theme-Layer-TextBlock-Inner  .Theme-StoryTitle {
    font-family:'Bodoni MT';
}

.Theme-TitleSection .Theme-Layer-TextBlock-Inner .Theme-LeadIn {
    font-family: 'Bodoni MT';
}

.Theme-TextOverMediaSection .Theme-Layer-TextBlock-Inner  .Theme-Title {
    font-family: 'Bodoni MT';
}

.Theme-TextOverMediaSection .Theme-Layer-TextBlock-Inner  .Theme-SubTitle {
    font-family: 'Bodoni MT';
}

/*BodyText - Entire story*/
.Theme-Layer-BodyText p {
	font-family: 'Comic Sans MS';
}

#footer_shorthand_link {
	display: none;
}